<section class="top-bar">
  <div class="left-content">
    <h1 class="title">TAILORING MANAGEMENT SYSTEM</h1>
    <ul class="navigation">
      <li><a [routerLink]="['/register']">Register</a></li>
      <li><a [routerLink]="['/login']">Login</a></li>
      <li><a [routerLink]="['/models']">Models</a></li>
      <li><a [routerLink]="['/order']">Order</a></li>
      <li><a [routerLink]="['/cloth']">Cloth</a></li>
      <li><a [routerLink]="['/contact']">Contact</a></li>
    </ul>
  </div>
</section>

<router-outlet></router-outlet>
